<!DOCTYPE html>
<html lang="pt"
         xmlns="http://www.w3.org/1999/xhtml"
         xmlns:th="http://thymeleaf.org">
<head>

</head>
<body>
<div class="alert alert-success alert-dismissible" role="alert" th:if="${not #strings.isEmpty(mensagem)}">
    <span th:text="${mensagem}"></span>
</div>
</body>
</html>
